body {
  background-color: rgb(218,218,218);
}
.card {
  background-color: #f5f5f5 ;
}
.navbar {
  padding: 0px;
}
.navbar-nav .nav-item.active {
  background-color: rgba(189, 195, 199, 0.5);
}
.nav-item .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
.media.border{
  padding: 5px;
  /*background-color: rgba(255,255,255,0.95);*/
}
@media (min-width: 600px) and (max-width: 1024px) {
 .card-columns {column-count: 2;}
}
@media (max-width: 600px) {
 .card-columns {column-count: 1;}
}
.flexbox-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  /*flex-direction: column;*/

}
.flex-item-1 {
  background-color: yellow;
  height: 50px;
  width: 200px;
  flex-grow: 1;
}
.flex-item-2 {
  background-color: green;
  height: 100px;
  width: 200px;
  flex-grow: 2;
}
.flex-item-3 {
  background-color: red;
  height: 125px;
  width: 200px;
}